{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        Sorry, you are ineligible for a juggling licence
      </h1>

      <p>You lack the required juggling skills to become a juggler.</p>

      <p>When you have learned how to juggle properly, you can <a href="/start-page">try again</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
